.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 50%;
  }
  
  .reveal table th {
    font-weight: bold;
  }
  
  .reveal table th,
  .reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
  }

  .reveal section img { background:none; border:none; box-shadow:none; }
